header {
    background-color: deeppink;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: mediumseagreen;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

div {
    display: flex;
}

aside {
    background-color: darksalmon;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    padding-bottom: 500px;
    margin-right: 10px;
    overflow: scroll;
}

main {
    background-color: cyan;
    border-radius: 5px;
    text-align: center;
    width: 75%;
    padding-bottom: 500px;
    margin-bottom: 10px;
}

article {
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: 0px 50px 0px 50px;
    padding-bottom: 500px;
}

footer {
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
}
