header {
    background-color: deeppink;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin: 10px;
}

nav {
    background-color: mediumseagreen;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

div {
    display: flex;
    margin: 10px;
}

aside {
    background-color: darksalmon;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    padding-bottom: 500px;
    margin-right: 10px;
}

main {
    background-color: cyan;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    padding-bottom: 500px;
}

footer {
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
}
