body {
    margin: 0;
}

header {
    background-color: deeppink;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: mediumseagreen;
    text-align: center;
    padding: 20px;
}

div {
    display: flex;
}

aside {
    background-color: darksalmon;
    text-align: center;
    width: 25%;
    padding-bottom: 500px;
    overflow: scroll;
}

main {
    background-color: cyan;
    text-align: center;
    width: 75%;
    padding-bottom: 500px;
    margin-bottom: 10px;
}

article {
    background-color: cornflowerblue;
    margin: 0px 50px;
    padding-bottom: 500px;
    padding-top: 50px;
}

article p {
    background-color: darkkhaki;
    margin: 0px 50px;
}

footer {
    background-color: blueviolet;
    text-align: center;
}