body {
    margin: 0;
}

header {
    background-color: #005C53;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #042940;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

div {
    display: flex;
    margin: 0px;
}

aside {
    background-color: #9FC131;
    text-align: center;
    width: 25%;
    padding-bottom: 500px;
}

aside ul {
    list-style-position: inside;
    padding: 0;
}

main {
    background-color: #DBF227;
    text-align: center;
    width: 75%;
    height: 100%;
    padding-bottom: 500px;
}

article {
    background-color: #D6D58E;
    margin: 0px 50px;
    padding: 25px 50px;
}

.text-box {
    background-color: #9FC131;
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    padding-bottom: 20px;
}

footer {
    background-color: #042940;
    color: white;
    text-align: center;
}